<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd


print(f'pandas version: {pd.__version__}')

pandas version: 1.3.0rc1

In [12]:
data = {
    'brand':['Python数据之道','价值前瞻','菜鸟数据之道','Python','Java'],
    'A':[10,2,5,20,16],
    'B':[4,6,8,12,10],
    'C':[8,12,18,8,2],
    'D':[6,18,14,6,12],
    'till years':[4,1,1,30,30]
}

df = pd.DataFrame(data=data)
df

        brand   A   B   C   D  till years
0  Python数据之道  10   4   8   6           4
1        价值前瞻   2   6  12  18           1
2      菜鸟数据之道   5   8  18  14           1
3      Python  20  12   8   6          30
4        Java  16  10   2  12          30

In [26]:
df.query('brand == "Python数据之道"')

        brand   A  B  C  D  till years
0  Python数据之道  10  4  8  6           4

In [27]:
df[df['brand']=="Python数据之道"]

        brand   A  B  C  D  till years
0  Python数据之道  10  4  8  6           4

In [28]:
df.query('A == 10')

        brand   A  B  C  D  till years
0  Python数据之道  10  4  8  6           4

In [29]:
# 用数学表达式进行数据筛选

df.query('A > B')

        brand   A   B  C   D  till years
0  Python数据之道  10   4  8   6           4
3      Python  20  12  8   6          30
4        Java  16  10  2  12          30

In [30]:
df.query('A+B <= C+D')

        brand   A  B   C   D  till years
0  Python数据之道  10  4   8   6           4
1        价值前瞻   2  6  12  18           1
2      菜鸟数据之道   5  8  18  14           1

In [31]:
df.query('A*2 <= C+D')

    brand  A  B   C   D  till years
1    价值前瞻  2  6  12  18           1
2  菜鸟数据之道  5  8  18  14           1

In [32]:
# 通过变量来筛选数据，在变量前使用 @ 符号即可

name = 'Python数据之道'

df.query('brand == @name')

        brand   A  B  C  D  till years
0  Python数据之道  10  4  8  6           4

In [14]:
# 需要注意下 双引号 和 单引号的分开使用

df.query('brand in ["Python数据之道","价值前瞻"]')
# df.query("brand in ['Python数据之道','价值前瞻']")

        brand   A  B   C   D  till years
0  Python数据之道  10  4   8   6           4
1        价值前瞻   2  6  12  18           1

In [15]:
# 同时使用多个条件， 
# 两者都需要满足的并列条件使用符号 & ,或 单词 and
# 只需要满足其中之一的条件使用符号 | ,或 单词 or

df.query('brand in ["Python数据之道","价值前瞻"] & A>3')

        brand   A  B  C  D  till years
0  Python数据之道  10  4  8  6           4

In [16]:
df.query('brand in ["Python数据之道","价值前瞻"] and A>3')

        brand   A  B  C  D  till years
0  Python数据之道  10  4  8  6           4

In [19]:
df.query('brand in ["Python数据之道","价值前瞻"] or A<6')

        brand   A  B   C   D  till years
0  Python数据之道  10  4   8   6           4
1        价值前瞻   2  6  12  18           1
2      菜鸟数据之道   5  8  18  14           1

In [20]:
df.query('brand in ["Python数据之道","价值前瞻"] | A<6')

        brand   A  B   C   D  till years
0  Python数据之道  10  4   8   6           4
1        价值前瞻   2  6  12  18           1
2      菜鸟数据之道   5  8  18  14           1

In [21]:
# 对于列名称中有空格的情况
# 使用 反引号（backtick mark），即键盘ESC键下面的按键(就是键盘上第二排第一个按键，有‘~’这个符号的按键)

df.query("`till years` < 5")

        brand   A  B   C   D  till years
0  Python数据之道  10  4   8   6           4
1        价值前瞻   2  6  12  18           1
2      菜鸟数据之道   5  8  18  14           1

In [22]:
# 注意不是单引号
df.query("'till years' < 5")

TypeError: data type 'till years' not understood

In [24]:
df.query('A+B <= C+D')[['brand','A','C']]

        brand   A   C
0  Python数据之道  10   8
1        价值前瞻   2  12
2      菜鸟数据之道   5  18

In [25]:
df.query(" brand == 'Python数据之道' ")

        brand   A  B  C  D  till years
0  Python数据之道  10  4  8  6           4

In [35]:
df[(df['brand']=="Python数据之道") & (df['A'] >2) & (df['C'] >4)]

        brand   A  B  C  D  till years
0  Python数据之道  10  4  8  6           4

In [37]:
df.query(" brand == 'Python数据之道' & A>2 & C>4 ")

        brand   A  B  C  D  till years
0  Python数据之道  10  4  8  6           4