<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#自由排序" data-toc-modified-id="自由排序-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>自由排序</a></span></li></ul></div>

In [15]:
import pandas as pd
import akshare as ak


print(f'pandas version: {pd.__version__}')

pandas version: 1.3.0rc1

In [5]:
data = {
    'brand':['Python数据之道','价值前瞻','菜鸟数据之道','Python','Java'],
    'B':[4,6,8,12,10],
    'A':[10,2,5,20,16],
    'D':[6,18,14,6,12],
    'years':[4,1,1,30,30],
    'C':[8,12,18,8,2],
}

df = pd.DataFrame(data=data)
df

        brand   B   A   D  years   C
0  Python数据之道   4  10   6      4   8
1        价值前瞻   6   2  18      1  12
2      菜鸟数据之道   8   5  14      1  18
3      Python  12  20   6     30   8
4        Java  10  16  12     30   2

In [6]:
df.columns

Index(['brand', 'B', 'A', 'D', 'years', 'C'], dtype='object')

In [7]:
# Method 1

df[['brand', 'A', 'B', 'C', 'D', 'years']]

        brand   A   B   C   D  years
0  Python数据之道  10   4   8   6      4
1        价值前瞻   2   6  12  18      1
2      菜鸟数据之道   5   8  18  14      1
3      Python  20  12   8   6     30
4        Java  16  10   2  12     30

In [8]:
# Method 2

df.iloc[:,[0,2,1,5,3,4]]

        brand   A   B   C   D  years
0  Python数据之道  10   4   8   6      4
1        价值前瞻   2   6  12  18      1
2      菜鸟数据之道   5   8  18  14      1
3      Python  20  12   8   6     30
4        Java  16  10   2  12     30

In [9]:
# Method 3

df.loc[:,['brand', 'A', 'B', 'C', 'D', 'years']]

        brand   A   B   C   D  years
0  Python数据之道  10   4   8   6      4
1        价值前瞻   2   6  12  18      1
2      菜鸟数据之道   5   8  18  14      1
3      Python  20  12   8   6     30
4        Java  16  10   2  12     30

In [10]:
# Method 4 ,逆序

cols = list(df.columns)

cols.reverse()

df[cols]

    C  years   D   A   B       brand
0   8      4   6  10   4  Python数据之道
1  12      1  18   2   6        价值前瞻
2  18      1  14   5   8      菜鸟数据之道
3   8     30   6  20  12      Python
4   2     30  12  16  10        Java

In [12]:
cols = list(df.columns)

df[cols[::-1]]

    C  years   D   A   B       brand
0   8      4   6  10   4  Python数据之道
1  12      1  18   2   6        价值前瞻
2  18      1  14   5   8      菜鸟数据之道
3   8     30   6  20  12      Python
4   2     30  12  16  10        Java

### 自由排序

In [17]:
# 需要安装 akshare
# pip install akshare

years = ['2019','2020','2021']

def fund_stock_holding(years,code):
    data = pd.DataFrame()
    for yr in years:
        df_tmp = ak.fund_em_portfolio_hold(code=code,year=yr)
        data = data.append(df_tmp)

    data['季度']=data['季度'].apply(lambda x:x[:8])
    data['占净值比例'] = pd.to_numeric(data['占净值比例'])
    data = data.sort_values(['季度','持仓市值'],ascending=[True,False])
    df = data.set_index(['序号','季度']).stack().unstack([1,2]).head(10)
    # df1.loc[:,(slice(None), ['股票名称','占净值比例'])]
    df = df.loc[:,(slice(None), '股票名称')]
    df = df.droplevel(None,axis=1)
    df.columns.name=None
    df = df.reset_index()
#     df.index.name = None
    df['基金代码'] = code
    return df
    
df = fund_stock_holding(years,'005669')
df

,序号,2019年1季度,2019年2季度,2019年3季度,2019年4季度,2020年1季度,2020年2季度,2020年3季度,2020年4季度,2021年1季度,2021年2季度,基金代码
0,1,长江电力,长江电力,国投电力,长江电力,长江电力,长江电力,晶澳科技,比亚迪,中科电气,比亚迪股份,005669
1,2,白云机场,国投电力,长江电力,上海机场,华测检测,华测检测,信义光能,中科电气,永兴材料,亿纬锂能,005669
2,3,中国移动,香港宽频,深圳燃气,华润燃气,中国移动,国投电力,隆基股份,亿纬锂能,东方日升,中科电气,005669
3,4,粤高速A,深圳燃气,粤高速A,深圳高速公路股份,隆基股份,上海机场,长江电力,星源材质,星源材质,宁德时代,005669
4,5,香港宽频,粤高速A,川投能源,华测检测,川投能源,川投能源,中科电气,阳光电源,亿纬锂能,天合光能,005669
5,6,中国民航信息网络,华测检测,粤海投资,桂冠电力,深圳高速公路股份,深圳燃气,宏川智慧,永兴材料,诺德股份,法拉电子,005669
6,7,新奥能源,上海机场,深圳高速公路股份,国投电力,桂冠电力,内蒙华电,上海机场,诺德股份,鹏辉能源,东方日升,005669
7,8,华润燃气,华润燃气,白云机场,深圳燃气,粤海投资,华电国际,通威股份,固德威,天合光能,星源材质,005669
8,9,国投电力,厦门空港,隆基股份,中国移动,国投电力,瀚蓝环境,阳光电源,鹏辉能源,晶澳科技,鹏辉能源,005669
9,10,深圳燃气,白云机场,上海机场,粤海投资,上海机场,深圳高速公路股份,瀚蓝环境,天合光能,宁德时代,融捷股份,005669

In [18]:
# 需要安装 akshare
# pip install akshare

years = ['2019','2020','2021']

def fund_stock_holding_update(years,code):
    data = pd.DataFrame()
    for yr in years:
        df_tmp = ak.fund_em_portfolio_hold(code=code,year=yr)
        data = data.append(df_tmp)

    data['季度']=data['季度'].apply(lambda x:x[:8])
    data['占净值比例'] = pd.to_numeric(data['占净值比例'])
    data = data.sort_values(['季度','持仓市值'],ascending=[True,False])
    df = data.set_index(['序号','季度']).stack().unstack([1,2]).head(10)
    # df1.loc[:,(slice(None), ['股票名称','占净值比例'])]
    df = df.loc[:,(slice(None), '股票名称')]
    df = df.droplevel(None,axis=1)
    df.columns.name=None
    df = df.reset_index()
#     df.index.name = None
    df['基金代码'] = code
    cols = df.columns.tolist()
    cols = cols[:1] + cols[-1:] + cols[1:-1]  # 将基金代码列名放前面
    df = df[cols]
    return df
    
df = fund_stock_holding_update(years,'005669')
df

,序号,基金代码,2019年1季度,2019年2季度,2019年3季度,2019年4季度,2020年1季度,2020年2季度,2020年3季度,2020年4季度,2021年1季度,2021年2季度
0,1,005669,长江电力,长江电力,国投电力,长江电力,长江电力,长江电力,晶澳科技,比亚迪,中科电气,比亚迪股份
1,2,005669,白云机场,国投电力,长江电力,上海机场,华测检测,华测检测,信义光能,中科电气,永兴材料,亿纬锂能
2,3,005669,中国移动,香港宽频,深圳燃气,华润燃气,中国移动,国投电力,隆基股份,亿纬锂能,东方日升,中科电气
3,4,005669,粤高速A,深圳燃气,粤高速A,深圳高速公路股份,隆基股份,上海机场,长江电力,星源材质,星源材质,宁德时代
4,5,005669,香港宽频,粤高速A,川投能源,华测检测,川投能源,川投能源,中科电气,阳光电源,亿纬锂能,天合光能
5,6,005669,中国民航信息网络,华测检测,粤海投资,桂冠电力,深圳高速公路股份,深圳燃气,宏川智慧,永兴材料,诺德股份,法拉电子
6,7,005669,新奥能源,上海机场,深圳高速公路股份,国投电力,桂冠电力,内蒙华电,上海机场,诺德股份,鹏辉能源,东方日升
7,8,005669,华润燃气,华润燃气,白云机场,深圳燃气,粤海投资,华电国际,通威股份,固德威,天合光能,星源材质
8,9,005669,国投电力,厦门空港,隆基股份,中国移动,国投电力,瀚蓝环境,阳光电源,鹏辉能源,晶澳科技,鹏辉能源
9,10,005669,深圳燃气,白云机场,上海机场,粤海投资,上海机场,深圳高速公路股份,瀚蓝环境,天合光能,宁德时代,融捷股份